body {
  background: #0a5b90;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #02263d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #02263d;
  margin: 0;
  padding: 0;

  li {
    display: flex;

    a {
      text-decoration: none;
      color: white;
      padding: 1rem;
      line-height: 1;
      display: block;
      height: 100%;

      &:hover {
        background-color: #0d71b3;
      }

      &.active {
        background-color: #0a5b90;
      }
    }
  }
}

main {
  margin-top: 100px;

  .title,
  .subtitle {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    color: white;
    padding: 1rem;
    text-align: center;
  }

  .controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .controls button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: gray;
    color: white;
  }

  .demo {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 410px;
    border: 1px solid #333;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png);


    .freds {
      position: relative;
      top: 300px;
      left: 20px;


      img {
        width: 122px;
      }
    }
  }

  .glitch {
    position: relative;

    .circle {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: rgb(3, 3, 102);
      border-radius: 50%;
      margin: 0 auto;
      cursor: pointer;

      .circle-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background-color: rgb(69, 69, 116);
        border-radius: 50%;
        margin: 0 auto;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 100px;
        margin: 0 auto;
        width: 100%;
        display: block;
      }
    }
  }

  .transform-blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h2,
    h3 {
      color: white;
    }

    .box {
      width: 300px;
      height: 300px;
      min-width: 300px;
      background: dodgerblue;
    }

    .labels {
      .newLabel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 16px;
        border-radius: 25px;
        border: 1px solid white;
      }
    }
  }

  .hidden {
    display: none;
  }

  .transform-jeep {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #1f90ef;
    margin: 2rem auto;

    .truck {
      position: absolute;
      bottom: 0;
      left: 10%;
    }

    h3 {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .transform-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    background-color: #3d0235;

    h3 {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .box-circle {
      width: 200px;
      height: 200px;
      background: dodgerblue;
      position: relative;
    }

    .dot {
      position: absolute;
      top: 50%;
      left: 50%;
      background: rgba(255, 20, 20, 0.6);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    .navigation-circle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem;
      background-color: #02263d;
      color: white;
      border-radius: 10px;
      margin-bottom: 1rem;
      width: 200px;
    }
  }
}